<div class="container">
    <div class="header grid p-3 border-line">
        <div class="col-12 md:col-4">
            <label class="content" for="">Tên người dùng :</label>
            <div style="display: inline-block;">
                <input   [(ngModel)]="RequestSearch.fullname" pInputText type="text">
            </div>
        </div>
        <div class="col-12 md:col-4">
            <label class="content" for="">Tên tài khoản :</label>
            <input pInputText [(ngModel)]="RequestSearch.username" type="text">
        </div>
        <div class="col-12 md:col-4">
            <div class="flex justify-content-between pr-3">
                <div>
                    <label class="content" for="">Trạng thái :</label>
                    <p-dropdown [options]="options"[(ngModel)]="RequestSearch.isActived" optionValue="value" [showClear]="true" placeholder="Tất cả" ></p-dropdown>
                </div>

                <p-button class="ml-4" label="Tìm kiếm" (click)="Search()"></p-button>

            </div>
        </div> 
    </div>
    <div class="flex align-items-center" style="height: 100px;">
        <span style="font-size: 20px;color: rgba(0, 107, 187, 1);font-weight: 600;line-height: 23.44px;">
            DANH SÁCH TÀI KHOẢN </span> <span>( {{Total}} Tài khoản )</span>
    </div>
    <div class="p-3" style="overflow: auto;">
        <p-table [value]="data" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th>STT</th>
                
                    <th class="text-center">Tên người dùng</th>
                    <th class="text-center">Tên tài khoản</th>
                    <th class="text-center">Trạng thái</th>
                    <th class="text-center">Hành động</th>
                   
                </tr>


            </ng-template>
            <ng-template pTemplate="body" let-u let-index="rowIndex">
            <tr>
                <td>{{index + 1 + ((RequestGetAll.page - 1) * RequestGetAll.pagesize)}}</td>
          <td class="text-center">{{u.firstName}}</td>
          <td class="text-center">{{u.login}}</td>
          <td class="text-center" >{{u.activated==true? "Active" : "Deactive"}}</td>
           <td>
           <div class="flex justify-content-center">
            <button pButton icon="pi pi-history"  label="Đổi mật khẩu" class=" p-button-sm  p-button-outlined mr-2" (click)="ShowReset(1,u.login)"
            ></button>
            <!-- <button pButton icon="pi pi-send" label="Gửi mail reset" class="p-button-sm p-button-outlined mr-2" -->
            <!-- ></button> -->
            <button  (click)="ShowDelete(1,u.login)" pButton icon="pi pi-times" label="Xóa tài khoản" class="p-button-sm p-button-outlined mr-2" 
            ></button>
           </div>
           </td>
                
            </tr>
            
            </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td [attr.colspan]="9" class="text-center">
              <span>Không có dữ liệu</span>
            </td>
          </tr>
        </ng-template>
      </p-table>


    </div>
    <div class="grid p-3">
        <p-paginator [rows]="RequestGetAll.page" [totalRecords]="Total" [rowsPerPageOptions]="[10,20,30]"
          [showCurrentPageReport]="true" (onPageChange)="paginate($event)" #paginator [hidden]="Total < 10"
          currentPageReportTemplate="{currentPage} of {totalPages}"></p-paginator>
      </div>
</div>
<p-dialog [(visible)]="isDelete" [modal]="false">
    <ng-template pTemplate="body">
    <div>
        <div class="py-4 px-2">
            <div class="col-12 title-content flex flex-row justify-content-center mt-4">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 6.25C12.4142 6.25 12.75 6.58579 12.75 7V13C12.75 13.4142 12.4142 13.75 12 13.75C11.5858 13.75 11.25 13.4142 11.25 13V7C11.25 6.58579 11.5858 6.25 12 6.25Z"
                  fill="#FFB43F" />
                <path
                  d="M12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15C11.4477 15 11 15.4477 11 16C11 16.5523 11.4477 17 12 17Z"
                  fill="#FFB43F" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M1.25 12C1.25 6.06294 6.06294 1.25 12 1.25C17.9371 1.25 22.75 6.06294 22.75 12C22.75 17.9371 17.9371 22.75 12 22.75C6.06294 22.75 1.25 17.9371 1.25 12ZM12 2.75C6.89137 2.75 2.75 6.89137 2.75 12C2.75 17.1086 6.89137 21.25 12 21.25C17.1086 21.25 21.25 17.1086 21.25 12C21.25 6.89137 17.1086 2.75 12 2.75Z"
                  fill="#FFB43F" />
              </svg>
              <label class="ml-2">{{title}} </label>
            </div>
            <div class="col-12 flex flex-row justify-content-center">
              <span> {{title=='XÓA TÀI KHOẢN' ? 'Bạn có muốn xóa tài khoản này' : 'Bạn có muốn lưu thông tin thay đổi'}}</span>
            </div>
            <div class="col-12 flex flex-row justify-content-center mt-3">
              <button pButton label="Huỷ bỏ" class="p-button-sm p-button-secondary mr-2" (click)="ShowDelete(2,'')" ></button>
              <button pButton 
                        label="Xác nhận" class="p-button-sm p-button-primary" (click)="DoDelete()"></button>
            </div>
          </div>
    </div>
    </ng-template>
</p-dialog>
<p-dialog [(visible)]="isReset" [modal]="false">
    <ng-template pTemplate="header">
    <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="1.2em" viewBox="0 0 512 512">
    <path d="M142.9 142.9c62.2-62.2 162.7-62.5 225.3-1L327 183c-6.9 6.9-8.9 17.2-5.2 26.2s12.5 14.8 22.2 14.8H463.5c0 0 0 0 0 0H472c13.3 0 24-10.7 24-24V72c0-9.7-5.8-18.5-14.8-22.2s-19.3-1.7-26.2 5.2L413.4 96.6c-87.6-86.5-228.7-86.2-315.8 1C73.2 122 55.6 150.7 44.8 181.4c-5.9 16.7 2.9 34.9 19.5 40.8s34.9-2.9 40.8-19.5c7.7-21.8 20.2-42.3 37.8-59.8zM16 312v7.6 .7V440c0 9.7 5.8 18.5 14.8 22.2s19.3 1.7 26.2-5.2l41.6-41.6c87.6 86.5 228.7 86.2 315.8-1c24.4-24.4 42.1-53.1 52.9-83.7c5.9-16.7-2.9-34.9-19.5-40.8s-34.9 2.9-40.8 19.5c-7.7 21.8-20.2 42.3-37.8 59.8c-62.2 62.2-162.7 62.5-225.3 1L185 329c6.9-6.9 8.9-17.2 5.2-26.2s-12.5-14.8-22.2-14.8H48.4h-.7H40c-13.3 0-24 10.7-24 24z"
    fill="#FFB43F"/></svg>
    <span style=" font-weight: 500;font-size: 20px;color:#006BBB; margin-bottom: 20px;">ĐỔI MẬT KHẨU</span>
    </div>
    
    </ng-template>
    <ng-template pTemplate="body">
        <form [formGroup]="form">
          
            <div class="secondary-form-control " style="width: 490px;">
                <label>Mật khẩu mới</label>
                <p-password  formControlName="newPassword"  [feedback]="false" ></p-password>
            </div>
            
           
            <div class="secondary-form-control " style="width: 490px;">
                <label>Nhập lại mật khẩu</label>
                <p-password formControlName="rePassword" [feedback]="false" ></p-password>
            </div>
      
    </form>
</ng-template> 
<ng-template pTemplate="footer">
    <div class="col-12 flex flex-row justify-content-end mt-3">
        <button pButton label="Huỷ bỏ" class="p-button-sm p-button-secondary mr-2" (click)="ShowReset(2,'')" ></button>
        <button pButton 
                  label="Xác nhận" class="p-button-sm p-button-primary" (click)="Reset(form.getRawValue().newPassword,form.getRawValue().rePassword)"></button>
      </div>
</ng-template>
    
</p-dialog>
<p-toast></p-toast>