<div class="container">
  <div class="grid align-items-center justify-content-between p-3">
    <div class="">
      <h2 style=" color: #30A0E0">Chi tiết {{'typePost.' + isBuy | translate  }} </h2>
    </div>
    <div class="">
      <button pButton class="p-button-warning p-button-outlined"
              label="Chỉnh sửa" icon="pi pi pencil" (click)="update()"></button>
    </div>
  </div>
  <div class="col-12 md:col-12" *ngIf="detailData?.status===2">
    <div class="secondary-form-control">
      <label>Lý do từ chối</label>
      <!--      <input type="text" pInputText>-->
      <div class="view-content">
        <span>{{detailData?.reason}}</span>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-12">
    <div class="grid">
      <div class="col-12 md:col-6" *ngIf="!isBuy">
        <div class="secondary-form-control">
          <label>Loại bài</label>
          <div class="view-content">
            <span>{{'typeNews.' + detailData?.type | translate}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Ngày đăng</label>
          <div class="view-content">
            <span>{{detailData?.createdDate | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Ngày duyệt</label>
          <div class="view-content">
            <span>{{detailData?.order | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6" *ngIf="!isBuy">
        <div class="secondary-form-control">
          <label>Ngày hết hạn</label>
          <div class="view-content">
            <span>{{detailData?.dueDate | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Ngày sửa gần nhất</label>
          <div class="view-content">
            <span>{{detailData?.lastModifiedDate ? (detailData?.lastModifiedDate | date: 'dd/MM/yyyy') : 'Giá trị chưa cập nhật'}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6" *ngIf="!isBuy">
        <div class="secondary-form-control">
          <label>Ngày bán</label>
          <div class="view-content">
            <span>{{detailData?.order | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6" *ngIf="isBuy">
        <div class="secondary-form-control">
          <label>Ngày mua</label>
          <div class="view-content">
            <span>{{detailData?.order | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Người đăng</label>
          <div class="view-content">
            <span>{{detailData?.fullName}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Trạng thái</label>
          <div class="view-content">
            <span>{{'status.' + detailData?.status | translate }}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Quận/Huyện</label>
          <div class="view-content">
            <span>{{detailData?.region}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Phường/Xã</label>
          <div class="view-content">
            <span>{{detailData?.ward }}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="">
    <div class="col-12 md:col-12">
      <div class="secondary-form-control">
        <label>Địa chỉ hiển thị trên tin đăng</label>
        <div class="view-content">
          <span>{{detailData?.address }}</span>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-12">
      <div class="secondary-form-control">
        <label for="">Tiêu đề</label>
        <textarea pInputTextarea readonly [(ngModel)]="detailData.titile"></textarea>
      </div>
    </div>
    <div class="col12 md:col-12">
      <div class="secondary-form-control">
        <label for="">Mô tả</label>
        <textarea pInputTextarea readonly rows="" [(ngModel)]="detailData.description"></textarea>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-12" *ngIf="!isBuy">
    <div class="secondary-form-control">
      <label>Diện tích</label>
      <!--      <input type="text" pInputText>-->
      <div class="view-content">
        <span>{{detailData?.area}}</span>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-12">
    <div class="grid">
      <div class="col-12 md:col-8" *ngIf="!isBuy">
        <div class="secondary-form-control">
          <label>Mức giá</label>
          <!--        <input type="text" pInputText>-->
          <div class="view-content">
            <span>{{detailData?.price | split3Number}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-8" *ngIf="isBuy">
        <div class="secondary-form-control">
          <label>Tài chính dự kiến</label>
          <!--        <input type="text" pInputText>-->
          <div class="view-content">
            <span>{{detailData?.rangePrice }}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-4">
        <div class="secondary-form-control">
          <label>Đơn vị</label>
          <!--        <p-dropdown [options]="listStatus" formControlName="status" optionValue="code"></p-dropdown>-->
          <div class="view-content">
            <span>{{isBuy ? detailData?.unit : (detailData?.unit === 0 ? 'VNĐ' : (detailData?.unit === 1 ? 'VNĐ/m2' : ''))}}</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-12">
    <div class="secondary-form-control">
      <label for="">Ảnh</label>
      <div class="grid  p-3">
        <div class="grid">
          <div class="p-3" *ngFor="let im of detailData.image">
            <p-image [src]="im" alt="Image" [preview]="true" height="200" width="200"></p-image>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-12">
    <div class="grid">
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Tên liên hệ</label>
          <div class="view-content">
            <span>{{detailData?.fullName}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Số điện thoại</label>
          <div class="view-content">
            <span>{{detailData?.phoneNumber}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Địa chỉ</label>
          <div class="view-content">
            <span>{{detailData?.addressUser}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Email</label>
          <div class="view-content">
            <span>{{detailData?.email}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-12">
    <div class="secondary-form-control">
      <label>Người sửa cuối</label>
      <!--      <input type="text" pInputText>-->
      <div class="view-content">
        <span>{{detailData?.lastModifiedBy}}</span>
      </div>
    </div>
  </div>
</div>
