<div class="container">
  <div class="grid p-3 border-line">
    <div class="field col-12 md:col-3">
      <div class="title">
        <label>Loại giao dịch</label>
      </div>
      <p-dropdown optionValue="value" [options]="typeList" [(ngModel)]="requestBalance.type"></p-dropdown>
    </div>
    <div class="field col-12 md:col-3">
      <div class="title">
        <label>Từ ngày</label>
      </div>
      <p-calendar [readonlyInput]="true" inputId="toDate" [showIcon]="true" [(ngModel)]="requestBalance.from"
        dateFormat="dd/mm/yy" [maxDate]="maxDate"></p-calendar>
    </div>
    <div class="field col-12 md:col-3">
      <div class="title">
        <label>Đến ngày</label>
      </div>
      <p-calendar [readonlyInput]="true" inputId="fromDate" [showIcon]="true" [(ngModel)]="requestBalance.to"
        dateFormat="dd/mm/yy" [maxDate]="maxDate"></p-calendar>
    </div>
    <div class="col-12 md:col-3">
      <button pButton label="Tìm kiếm" icon="pi pi-search" (click)="getBalance()"></button>
    </div>
  </div>
  <div class="p-3">
    <div class="secondary-form-control">
      <label for="">Thông tin tài khoản</label>
      <div class="p-3 text-lg">

        <div class="col-12">
          <div class="flex justify-content-between">
            <div class="">Tài khoản chính:</div>
            <div class=""><span class="price-text">{{balanceInfo?.walletAmount}}</span></div>
          </div>
        </div>
        <div class="col-12">
          <div class="flex justify-content-between">
            <div class="">Tài khoản khuyến mãi:</div>
            <div class=""><span class="price-text">{{balanceInfo?.walletPromotion}}</span></div>
          </div>
        </div>
        <div class="col-12">
          <div class="flex justify-content-between">
            <div class="">Point:</div>
            <div class=""><span class="price-text">{{balanceInfo?.poin}}</span></div>
          </div>
        </div>
        <div class="col-12 mt-3 total-box">
          <div class="flex justify-content-between">
            <div class="price-text">Tổng cộng:</div>
            <div class="text-right">
              <div class="total-text">{{balanceInfo?.totalAmount}}</div>
              <div class="price-text">{{balanceInfo?.poin}} (point)</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="grid p-3">
    <div class="col-12 md:col-10">
      <div class="title-content">
        <label>Lịch sử biến động</label>
        <!--        <span>(3103 bài đăng)</span>-->
      </div>
    </div>
  </div>
  <div class="p-3">
    <!--    <div class="mr-2">-->
    <!--      <button pButton label="Xóa"-->
    <!--              icon="pi pi-trash" class="p-button-outlined p-button-danger"></button>-->
    <!--    </div>-->
  </div>
  <div class="p-3">
    <p-table [value]="transactionList">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="transactionHistorys.createdDate">
            Thời gian
            <p-sortIcon field="transactionHistorys.createdDate"></p-sortIcon>
          </th>
          <th>Loại giao dịch</th>
          <th>Nội dung</th>
          <th>Biến động</th>
          <th>Số dư TK chính</th>
          <th>Số dư TK KM</th>
          <th>Điểm thưởng</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-transaction>
        <tr>
          <td>{{ transaction.transactionHistorys.createdDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{ 'type.' + transaction.transactionHistorys.type | translate}}</td>
          <td>{{ transaction.transactionHistorys.content }}</td>
          <td>
            <span
              [ngClass]=" transaction.transactionHistorys.status === 'Up' ?'primary-text-color' : 'danger-text-color'">
              {{ transaction.transactionHistorys.status === 'Up' ? '+' +
              (transaction.transactionHistorys.transactionAmount | vnCurrency ) :
              '-' + (transaction.transactionHistorys.transactionAmount | vnCurrency)}}</span>
          </td>
          <td>
            <span [ngClass]="transaction.wallet.isVolatility ?'primary-text-color' : ''">{{ transaction.wallet.amount |
              vnCurrency}} </span>
          </td>
          <td><span [ngClass]="transaction.walletPromotional.isVolatility ?'primary-text-color' : ''">{{
              transaction.walletPromotional.amount | vnCurrency}}</span>
          </td>
          <td><span>{{ transaction.transactionHistorys.point }}</span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="7" class="text-center">
            <span>Không có dữ liệu</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="grid p-3">
    <p-paginator [rows]="pageSize" [totalRecords]="totalRecord" [rowsPerPageOptions]="[10,20,30]"
      [showCurrentPageReport]="true" (onPageChange)="paginate($event)" #paginator
      currentPageReportTemplate="{currentPage} of {totalPages}"></p-paginator>
  </div>

</div>