.primary-text-color {
  color: #30A0E0;
  font-weight: 600;
}
.danger-text-color {
  color: #EF4444;
  font-weight: 600;
}
.price-text {
  font-style: normal;
  font-weight: 600;
  // font-size: 1.125rem;
  line-height: 30px;

  color: #505050;

}

.total-text {
  font-style: normal;
  font-weight: 600;
  // font-size: 1.125rem;
  line-height: 30px;

  color: #30A0E0;

}

.total-box {
  border-top: 1px solid #D8D8D8
}
