<div class="container">
  <div class="grid p-3">
    <div class="col-12 flex justify-content-between align-items-center">
      <div class="title-content flex flex-row align-items-center">
        <label>DANH SÁCH GÓI</label>
        <button (click)="add()"
          class="flex flex-row align-items-center pr-3 py-2 ml-3 border-round-sm border-bluegray-200 border-solid cursor-pointer"
          style="color: #505050; font-weight: 600; background-color: white;">
          <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.28127 1.29199C7.28127 0.86052 6.93149 0.510742 6.50002 0.510742C6.06855 0.510742 5.71877 0.86052 5.71877 1.29199V5.71908H1.29169C0.860215 5.71908 0.510437 6.06885 0.510437 6.50033C0.510437 6.9318 0.860215 7.28158 1.29169 7.28158H5.71877V11.7087C5.71877 12.1401 6.06855 12.4899 6.50002 12.4899C6.93149 12.4899 7.28127 12.1401 7.28127 11.7087V7.28158H11.7084C12.1398 7.28158 12.4896 6.9318 12.4896 6.50033C12.4896 6.06885 12.1398 5.71908 11.7084 5.71908H7.28127V1.29199Z"
              fill="#30A0E0" />
          </svg>
          <p class="m-0 ml-2">Thêm mới</p>
        </button>
      </div>
      <!-- <button pButton label="Thêm mới" icon="pi pi-plus" class="p-button-outlined p-button-primary"
        [routerLink]="'/real-estate-new/create'"></button> -->
    </div>
  </div>
  <div *ngFor="let config of listConfig" class="p-3">
    <app-config-pack-list [config]="config" [index]="listConfig!.indexOf(config) + 1"
      (edit)="edit($event)"></app-config-pack-list>
  </div>
</div>

<p-dialog [dismissableMask]="true" [(visible)]="isUpdate" [modal]="true" [draggable]="false" [resizable]="false"
  [showHeader]="false" [style]="{'width': '90vw'}">
  <div class="flex justify-content-center pt-3" style="font-size:18px; font-weight: 600; color: #006BBB">
    CHỈNH SỬA GÓI
  </div>
  <div class="grid">
    <div class="col-12">
      <div class="secondary-form-control">
        <label>Tên gói</label>
        <input type="text" pInputText [(ngModel)]="configDetail.name">
      </div>
    </div>
    <div class="col-4 flex flex-column" *ngFor="let price of configDetail?.config; let i=index">
      <div class="w-full h-max">
        <div class="secondary-form-control">
          <label>{{price.type===0?'Tin Thường':price.type===1?'Tin VIP':'Tin VIP Đặc Biệt'}}</label>
          <input p-inputtext type="number" style='
          border-radius:10px;
          outline:0;
          padding:0.62rem 0.75rem 0.62rem 0.75rem;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          font-size: 1rem;
          color: #495057;' [(ngModel)]="configDetail.config[i].priceDefault" ngDefaultControl>
        </div>
      </div>
      <div class="flex w-full h-max flex-row justify-items-between h-max mt-3"
        *ngFor="let priceConfig of price?.typePri">
        <div class="pl-0 col-4">
          <div class="secondary-form-control mt-1">
            <label>Số ngày</label>
            <input p-inputtext type="number" style='
            border-radius:10px;
            outline:0;
            padding:0.62rem 0.75rem 0.62rem 0.75rem;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 1rem;
            color: #495057;' [(ngModel)]="priceConfig.date" ngDefaultControl>
          </div>
        </div>
        <div class="col-5">
          <div class="secondary-form-control mt-1">
            <label>Giá trị</label>
            <input p-inputtext type="number" style='
            border-radius:10px;
            outline:0;
            padding:0.62rem 0.75rem 0.62rem 0.75rem;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 1rem;
            color: #495057;' [(ngModel)]="priceConfig.discount" ngDefaultControl>
          </div>
        </div>
        <div class="pr-0 col-3">
          <div class="secondary-form-control mt-1">
            <p-dropdown [options]="listUnit" optionValue="value" [(ngModel)]="priceConfig.unit" ngDefaultControl></p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3 flex justify-content-end">
    <button pButton label="Huỷ bỏ" class="p-button-sm p-button-secondary mr-2" (click)="isUpdate=false"></button>
    <button pButton label="Lưu thông tin" (click)="update({rq:configDetail})"
      class="p-button-sm p-button-primary"></button>
  </div>
</p-dialog>
<p-dialog [dismissableMask]="true" [(visible)]="isAdd" [modal]="true" [draggable]="false" [resizable]="false"
  [showHeader]="false" [style]="{'width': '90vw'}">
  <div class="flex justify-content-center pt-3" style="font-size:18px; font-weight: 600; color: #006BBB">
    THÊM GÓI MỚI
  </div>
  <div class="grid">
    <div class="col-12">
      <div class="secondary-form-control">
        <label>Tên gói</label>
        <input type="text" pInputText [(ngModel)]="configDetail.name">
      </div>
    </div>
    <div class="col-4 flex flex-column" *ngFor="let price of configDetail?.config; let i=index">
      <div class="w-full h-max">
        <div class="secondary-form-control">
          <label>{{price.type===1?'Tin Thường':price.type===2?'Tin VIP':'Tin VIP Đặc Biệt'}}</label>
          <input p-inputtext type="number" style='
          border-radius:10px;
          outline:0;
          padding:0.62rem 0.75rem 0.62rem 0.75rem;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
          font-size: 1rem;
          color: #495057;' [(ngModel)]="configDetail.config[i].priceDefault" ngDefaultControl>
        </div>
      </div>
      <div class="flex w-full h-max flex-row justify-items-between h-max mt-3"
        *ngFor="let priceConfig of price?.typePri">
        <div class="pl-0 col-4">
          <div class="secondary-form-control mt-1">
            <label>Số ngày</label>
            <input p-inputtext type="number" style='
            border-radius:10px;
            outline:0;
            padding:0.62rem 0.75rem 0.62rem 0.75rem;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 1rem;
            color: #495057;' [(ngModel)]="priceConfig.date" ngDefaultControl>
          </div>
        </div>
        <div class="col-5">
          <div class="secondary-form-control mt-1">
            <label>Giá trị</label>
            <input p-inputtext type="number" style='
            border-radius:10px;
            outline:0;
            padding:0.62rem 0.75rem 0.62rem 0.75rem;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 1rem;
            color: #495057;' [(ngModel)]="priceConfig.discount" ngDefaultControl>
          </div>
        </div>
        <div class="pr-0 col-3">
          <div class="secondary-form-control mt-1">
            <p-dropdown [options]="listUnit" optionValue="value" [(ngModel)]="priceConfig.unit" ngDefaultControl></p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3 flex justify-content-end">
    <button pButton label="Huỷ bỏ" class="p-button-sm p-button-secondary mr-2" (click)="isAdd=false"></button>
    <button pButton label="Thêm mới" (click)="addList({rq:configDetail})"
      class="p-button-sm p-button-primary"></button>
  </div>
</p-dialog>

<p-toast></p-toast>
