<div class="container">
  <div class="grid p-3 border-line">
    <div class="col-12 md:col-4">
      <div class="grid">
        <div class="col-12 md:col-3">
          <span class="p-inputgroup-addon">Khu vực</span>
        </div>
        <div class="col-12 md:col-9 ">
          <p-dropdown [options]="ListDist" placeholder="Tất cả" [(ngModel)]="RequestSearch.name"
            optionLabel="name" optionValue="name" [showClear]="true"></p-dropdown>
        </div>
      </div>



    </div>
    <div class="col-12 md:col-6">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Tên khu đất</span>
        <input type="text" pInputText [(ngModel)]="RequestGetList.name" />
      </div>
    </div>
    <div class="col-12 md:col-2">
      <button pButton label="Tìm kiếm" icon="pi pi-search" (click)="search()"></button>
    </div>
  </div>
  <div class="grid p-3">
    <div class="col-12 md:col-10">
      <div class="grid align-items-end">
        <h2>Danh sách khu đất</h2>
        <span class="mb-4 ml-4">({{totalRecord}} khu đất)</span>
      </div>
    </div>
    <div class="col-12 md:col-2">

      <button pButton label="Thêm mới" icon="pi pi-plus" (click)="ShowModel(1)"></button>
    </div>
  </div>
  <div class="grid p-3">
    <div class=" col-12 md:col-10">
      <div class="mb-2" style="display: inline-block;">
        <span> Đã chọn : {{dataSelection.length}}</span>
      </div>
      <button class="ml-2 mr-2 p-button-outlined text-[#FFB43F] p-button-secondary" pButton label="Xóa tất cả"
        icon="pi pi-times" (click)="deleteAll()" [disabled]="dataSelection.length < 2"></button>
      <button pButton label="Hủy chọn" (click)="Cancle()" [disabled]="dataSelection.length < 2"
        class="p-button-outlined  p-button-secondary"></button>
    </div>



  </div>
  <div class="p-3" style="overflow: auto;">
    <p-table [value]="data" [(selection)]="dataSelection" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>STT</th>
          <th class="text-center">Tên khu đất</th>
          <th class="text-center">Khu vực</th>
          <th class="text-center">Độ ưu tiên</th>
          <th class="text-center">Người đăng</th>
          <th class="text-center">Created Date</th>
          <th class="text-center">Last Updated</th>
          <th class="text-center">Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product let-index="rowIndex">
        <tr>
          <td>
            <p-tableCheckbox [value]="product"></p-tableCheckbox>
          </td>
          <td>{{index + 1 + ((RequestGetList.page - 1) * RequestGetList.pageSize)}}</td>
          <td class="hyper-link " (click)="ViewDetail(1,product.id)">{{product.name}}</td>
          <td class="text-center">{{product.district.name}}</td>
          <td class="text-center">{{product.order}}</td>
          <td class="text-center">{{product.createdBy}}</td>
          <td class="text-center">{{product.createdDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
          <td class="text-center">{{(product.lastModifiedDate ? product.lastModifiedDate : product.createdDate) | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
          <td class="text-center">
            <button pButton icon="pi pi-times" pTooltip="Xóa" class="p-button-sm p-button-danger p-button-outlined mr-2"
              (click)="delete(product.id)"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="9" class="text-center">
            <span>Không có dữ liệu</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="grid p-3">
    <p-paginator [rows]="RequestGetList.pageSize" [totalRecords]="totalRecord" [rowsPerPageOptions]="[10,20,30]"
      [showCurrentPageReport]="true" (onPageChange)="paginate($event)" #paginator [hidden]="totalRecord < 10"
      currentPageReportTemplate="{currentPage} of {totalPages}"></p-paginator>
  </div>
</div>
<p-dialog [dismissableMask]="true" [(visible)]="IsShowDialog" [modal]="true">
  <ng-template pTemplate="header">
    <div>
      <i class="pi pi-plus-circle" style="color: slateblue"></i>
      <span class="justify-items-start">THÊM MỚI KHU ĐẤT</span>
    </div>

  </ng-template>
  <ng-template pTemplate="body">
    <div class="mt-2">
      <label class="ml-4 " style="font-weight: 500;font-family: Roboto;">Tên khu đất</label>
      <input pInputText  type="text" [(ngModel)]="AddRequest.name" placeholder="Nhập tên khu đất" style="width: 100%;" />
    </div>
    <div class="mt-2">
      <label class="ml-4" style="font-weight: 500;font-family: Roboto;">Khu vực</label>
      <p-dropdown [options]="ListDist" [(ngModel)]="AddRequest.districtId" optionLabel="name"
        optionValue="id"></p-dropdown>
    </div>
    <div class="mt-2">
      <label class="ml-4 " style="font-weight: 500;font-family: Roboto;">Độ ưu tiên</label>
      <input pInputText type="text" [(ngModel)]="AddRequest.order" placeholder="Nhập vị trí" style="width: 100%;" />
    </div>


    <div class="mt-4" style="display: flex; justify-content: end;">
      <button pButton label="Hủy bỏ" class="p-button-outlined  p-button-secondary" (click)="ShowModel(2)"
        style="color: rgba(80, 80, 80, 1);" styleClass="p-button-sm"></button>
      <button pButton label="Thêm mới" (click)="AddSLot()" class=" ml-3" style="color:rgba(255, 255, 255, 1);"
        styleClass="p-button-sm"></button>
    </div>

  </ng-template>


</p-dialog>
<p-dialog [dismissableMask]="true" [(visible)]="IsUpdateShow" [modal]="true">
  <ng-template pTemplate="header">
    <div>
      <i class="pi pi-plus-circle" style="color: slateblue"></i>
      <span class="justify-items-start">CHỈNH SỬA KHU ĐẤT</span>
    </div>

  </ng-template>
  <ng-template pTemplate="body">
    <div class="" [formGroup]="updateForm">

      <div class="secondary-form-control">
        <label>Tên khu đất</label>

        <input type="text"  pInputText  formControlName="name">

      </div>
      <div [formGroupName]="'district'">

        <div class="secondary-form-control">
          <label>Khu vực</label>
          <input type="text"  pInputText  formControlName="name">

        </div>

      </div>



      <div class="secondary-form-control">
        <label>Độ ưu tiên</label>
        <input type="text"  pInputText  formControlName="order" [disabled]="true">


      </div>


      <div class="secondary-form-control">
        <label>Menu trái</label>

        <input type="text"  pInputText  formControlName="order">


      </div>
    </div>


    <div class="mt-4" style="display: flex; justify-content: end;">
      <button pButton label="Hủy bỏ" class="p-button-outlined  p-button-secondary" (click)="ViewDetail(2,{})"
        style="color: rgba(80, 80, 80, 1);" styleClass="p-button-sm"></button>
      <button pButton label="Lưu thông tin" (click)="ConfirmUpdate()" class=" ml-3"
        style="color:rgba(255, 255, 255, 1);" styleClass="p-button-sm"></button>
    </div>
  </ng-template>


</p-dialog>

<p-dialog [dismissableMask]="true" [(visible)]="IsDeleteModal" [modal]="true" [style]="{'width': '544px','height': '231px'}">
  <ng-template pTemplate="header">
    <div style="display: flex;margin: auto;align-items: center;">
      <i class="pi pi-exclamation-circle" style="color: rgba(255, 180, 63, 1)"></i>
      <span class="justify-items-start">THÊM KHÔNG THÀNH CÔNG</span>
    </div>
  </ng-template>
  <ng-template pTemplate="body">
  <div class="mt-4">
    <span style="font-weight: 700;font-size: 14px;display: flex;justify-content: center;">Khu đất {{AddRequest.name}} đã có trong hệ thống</span>
  </div>
  <div class="mt-4" style="display: flex; justify-content: center;">
    <button pButton label="Hủy bỏ" class="p-button-outlined  p-button-secondary" (click)="CancleAddSlot(2)"
      style="color: rgba(80, 80, 80, 1);" styleClass="p-button-sm"></button>
    <button pButton label="Xác nhận" (click)="CancleAddSlot(1)" class=" ml-3"
      style="color:rgba(255, 255, 255, 1);" styleClass="p-button-sm"></button>
  </div>
  </ng-template>
</p-dialog>
