:host ::ng-deep span.p-button-icon.p-button-icon-left.pi.pi-times{
    color: #FFB43F;
}
:host ::ng-deep .p-element.ng-trigger.ng-trigger-animation.ng-tns-c108-3.p-dialog.p-component.p-dialog-draggable.p-dialog-resizable.ng-star-inserted{
    
    width: 568px;
    height: 491px;
    // top: 190px;
    // left: 498px;
     border-radius: 8px;
    
}
:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon{
display: none;
}
:host ::ng-deep .p-dialog .p-dialog-header{
 color: rgba(0, 107, 187, 1);
 font-family:Roboto;
 font-weight: 500;
 font-size: 20px;
}
:host ::ng-deep .pi.pi-plus-circle::before{
color: #FFB43F;
width: 21.5px;
height: 21.5px;


}
:host ::ng-deep .p-dropdown {
width: 100%;

}