:host ::ng-deep .secondary-form-control {
    border: 1px solid #D8D8D8;
    position: relative;
    border-radius: 6px;
    margin-top: 1em;
    height: 45px;
  
}
:host ::ng-deep #discipline-qe .ql-container{
    height: 400px;
  }


  :host ::ng-deep span.p-button-icon.p-button-icon-left.pi.pi-times{
    color: #FFB43F;
}
:host ::ng-deep .p-element.ng-trigger.ng-trigger-animation.ng-tns-c108-3.p-dialog.p-component.p-dialog-draggable.p-dialog-resizable.ng-star-inserted{
    
    width: 568px;
    height: 200px;
    // top: 190px;
    // left: 498px;
     border-radius: 8px;
    
}
:host ::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon{
display: none;
}
:host ::ng-deep .p-dialog .p-dialog-header{
 color: rgba(0, 107, 187, 1);
 font-family:Roboto;
 font-weight: 500;
 font-size: 20px;
}
:host ::ng-deep .pi.pi-plus-circle::before{
color: #FFB43F;
width: 21.5px;
height: 21.5px;


}
:host ::ng-deep .p-dropdown {
width: 100%;

}
:host ::ng-deep .p-dropdown-label {
display: block;
width: 100%;
right: 0;

}
:host ::ng-deep .p-dialog {
color: #FFB43F;
width: 500px;
height: 220px;
border-radius: 8px;

}
