<div class="container pt-6 pl-4 pr-2">
<form [formGroup]="form">
    <div class="grid pr-2">
        <div class="secondary-form-control col-7 ">
            <label>Tiêu đề</label>
            <input type="text" pInputText formControlName="title">
        </div>
        
        <div class="col-2"></div>
        <div class="secondary-form-control col-3" style="display: flex; align-items: center;justify-items: end;">
            <label>Tiêu đề</label>
            <p-dropdown></p-dropdown>
        </div>
        
    </div>
    <div class="secondary-form-control mb-2">
        <label>Nội dung</label>
        <quill-editor [modules]="quillConfig" class="w-full" #disciplineQE id="discipline-qe" formControlName="description"
        ></quill-editor>
        <quill-view [content]="" *ngIf="" format="html"></quill-view>
      </div>
</form>
    
</div>

