<div class="container">
  <div class="grid p-3 border-line">
    <div class="field col-12 md:col-5">
      <div class="title">
        <label>Tên khách hàng</label>
      </div>
      <input type="text" pInputText [(ngModel)]="depositReq.userName">
    </div>
    <div class="field col-12 md:col-5">
      <div class="title">
        <label>Thời gian</label>
      </div>
      <p-calendar selectionMode="range" [readonlyInput]="true" inputId="range"
      [showIcon]="true" [(ngModel)]="dateTime"></p-calendar>
    </div>
    <div class="col-12 md:col-2">
      <button pButton label="Tìm kiếm" icon="pi pi-search"></button>
    </div>
  </div>
  <div class="grid p-3">
    <div class="col-12 md:col-10">
      <div class="title-content">
        <label>DANH SÁCH KHÁCH HÀNG </label>
        <span>(3103 bài đăng)</span>
      </div>
    </div>
  </div>
  <div class="p-3">
    <div class="mr-2">
      <button pButton label="Xóa"
              icon="pi pi-trash" class="p-button-outlined p-button-danger"></button>
    </div>
  </div>
  <div class="p-3">
    <p-table [value]="paymentData">
      <ng-template pTemplate="header">
        <tr>
          <th>Mã KH</th>
          <th>Khách hàng</th>
          <th>Số điện thoại</th>
          <th>Ảnh minh chứng</th>
          <th>Trạng thái</th>
          <th pSortableColumn="timestamp">
            <p-sortIcon field="timestamp"></p-sortIcon>
            Thời gian
          </th>
          <th>Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customerData>
        <tr>
          <td>{{ customerData.id }}</td>
          <td>{{ customerData.customer.customerName }}</td>
          <td>{{ customerData.phoneNumber }}</td>
          <td>
            <img [src]="customerData.image" alt="Ảnh minh chứng">
          </td>
          <td>{{ 'status.'+ customerData.status | translate }}</td>
          <td>{{ customerData.createdDate | date: 'dd/MM/yyyy' }}</td>
          <td>
            <button pButton icon="pi pi-plus" pTooltip="Cộng tiền" (click)="openPayment(customerData.customer)"
                    class="p-button-sm p-button-primary p-button-outlined mr-2"></button>
            <button pButton icon="pi pi-times" pTooltip="Từ chối"
                    class="p-button-sm p-button-danger p-button-outlined mr-2"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
     <div class="grid p-3">
    <p-paginator [rows]="pageSize" [totalRecords]="totalRecord" [rowsPerPageOptions]="[10,20,30]"
                 [showCurrentPageReport]="true" (onPageChange)="paginate($event)"
                 #paginator
                 currentPageReportTemplate=
                   "{currentPage} of {totalPages}"></p-paginator>
  </div>
</div>
<p-dialog [(visible)]="isPayment"[modal]="true" [draggable]="false"
          [resizable]="false" [showHeader]="false" [style]="{'width': '40vw'}">
  <div class="payment">
    <div class="col-12">
      <h1>Cộng tài khoản</h1>
      <label for="" class="header-title">Khách hàng: </label><span>{{customerName}}</span>
    </div>
    <div class="col-12">
      <div class="secondary-form-control">
        <label for="">TK chính</label>
        <input type="text" name="" id="" pInputText [(ngModel)]="paymentRequest.amountWallet">
      </div>
    </div>
    <div class="col-12">
      <div class="secondary-form-control">
        <label for="">TK Khuyến mãi</label>
        <input type="text" name="" id="" pInputText [(ngModel)]="paymentRequest.amountWalletPromotional">
      </div>
    </div>
    <div class="col-12">
    <div class="flex justify-content-between">
      <label class="header-title">Điểm thưởng</label>
      <span class="p-text-warning">0(điểm)</span>
    </div>
    <div class="flex justify-content-end mt-2">
      <button pButton label="Huỷ" class="p-button-sm p-button-secondary mr-2"
      (click)="isPayment = false"></button>
      <button pButton (click)="confirmRequest()"
              label="Nạp tiền" class="p-button-sm p-button-primary"></button>
    </div>

    </div>
  </div>
</p-dialog>
