<div class="container">
  <div class="grid p-3 border-line">
    <div class="field col-12 md:col-3">
      <div class="title">
        <label>Mã khách hàng</label>
      </div>
      <input pInputText [(ngModel)]="searchCustomer.customerCode" (keydown)="blockSpace($event)"
        (keydown.enter)="getListCustomer(true)">
    </div>
    <div class="field col-12 md:col-3">
      <div class="title">
        <label>Tên khách hàng</label>
      </div>
      <input pInputText [(ngModel)]="searchCustomer.keyword" (keydown.enter)="getListCustomer(true)">
    </div>
    <div class="field col-12 md:col-3">
      <div class="title">
        <label>Số điện thoại</label>
      </div>
      <input pInputText [(ngModel)]="searchCustomer.phone" (keydown.enter)="getListCustomer(true)">
    </div>
    <div class="col-12 md:col-2">
      <button pButton label="Tìm kiếm" icon="pi pi-search" (click)="getListCustomer(true)"></button>
    </div>
  </div>
  <div class="grid p-3">
    <div class="col-12 md:col-10">
      <div class="title-content">
        <label>DANH SÁCH KHÁCH HÀNG </label>
        <span>({{totalRecord}} khách hàng)</span>
      </div>
    </div>
  </div>
  <div class="p-3 grid justify-content-between">
    <div class="flex">
      <div class="flex align-items-center mr-3">
        Đã chọn: {{dataSelection.length}}
      </div>
      <div class="mr-2">
        <button pButton label="Chặn" (click)="doDelete()" [disabled]="dataSelection.length < 2" icon="pi pi-lock"
          class="p-button-outlined p-button-danger"></button>
      </div>
      <div class="mr-2">
        <button pButton label="Bỏ chặn" (click)="doActivate()" [disabled]="dataSelection.length < 2"
          icon="pi pi-lock-open" class="p-button-outlined p-button-danger"></button>
      </div>
    </div>
    <div class="">
      <div class="mr-2">
        <button pButton label="Thêm mới" (click)="createCustomer()" icon="pi pi-plus"
          class="p-button-outlined p-button-primary"></button>
      </div>

    </div>
  </div>
  <div class="p-3">
    <p-table [value]="dataCustomers" [(selection)]="dataSelection" dataKey="customer.id">
      <ng-template pTemplate="header">
        <tr>
          <th>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>STT</th>
          <th>Mã khách hàng</th>
          <th>Khách hàng</th>
          <th>Địa chỉ</th>
          <th>Công ty</th>
          <th>Số điện thoại</th>
          <th>MGTB</th>
          <th>Số dư TK chính</th>
          <th>Số dư TK KM</th>
          <th>Điểm thưởng</th>
          <th class="text-center">Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr>
          <td>
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <td>{{index + 1 + ((searchCustomer.page - 1) * searchCustomer.pageSize)}}</td>
          <td>{{item.customer?.customerCode }}</td>
          <td>{{item.customer?.customerName }}</td>
          <td>{{item.customer?.address }}</td>
          <td>{{item.customer?.company }}</td>
          <td>{{item.customer?.phone }}</td>
          <td>{{item.customer?.exchangeDescription }}</td>
          <td>{{item.wallet?.amount | vnCurrency }}</td>
          <td>{{item.walletPromotional?.amount | vnCurrency}}</td>
          <td>{{ item.customer.point }}</td>
          <td>
            <button pButton icon="pi pi-plus" pTooltip="Cộng tiền" (click)="openPayment(item.customer)"
              class="p-button-sm p-button-primary p-button-outlined mr-2"></button>
            <button pButton icon="pi pi-bars" pTooltip="Xem số dư" (click)="viewBalance(item.customer.id)"
              class="p-button-sm p-button-warning p-button-outlined mr-2"></button>
            <button pButton [icon]="item.customer.status ? 'pi pi-lock' : 'pi pi-lock-open'"
              [pTooltip]="item.customer.status ? 'Chặn' : 'Bỏ chặn'"
              [class]="'p-button-sm p-button-danger p-button-outlined mr-2'"
              (click)="item.customer.status ? ban(item.customer.id) : unBan(item.customer.id)">
            </button>
            <button pButton icon="pi pi-eye" pTooltip="Xem thông tin" (click)="viewCustomerDetail(item.customer.id)"
              class="p-button-sm p-button-primary p-button-outlined mr-2"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="12" class="text-center">
            <span>Không có dữ liệu</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="grid p-3">
    <p-paginator [rows]="pageSize" [totalRecords]="totalRecord" [rowsPerPageOptions]="[10,20,30]"
      [showCurrentPageReport]="true" (onPageChange)="paginate($event)" #paginator
      currentPageReportTemplate="{currentPage} of {totalPages}"></p-paginator>
  </div>
</div>
<p-dialog [dismissableMask]="true" [(visible)]="isDeleteAll" [modal]="true" [draggable]="false" [resizable]="false">
  <div class="p-3">
    <p-table [value]="dataSelection">
      <ng-template pTemplate="header">
        <tr>
          <th>Khách hàng</th>
          <th>Số dư TK chính</th>
          <th>Số dư TK KM</th>
          <th>Điểm thưởng</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-index="rowIndex">
        <tr>
          <td>{{item.customer?.customerName }}</td>
          <td>{{item.wallet?.amount }}</td>
          <td>{{item.walletPromotional?.amount }}</td>
          <td>{{ item.customer.point }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="p-3 flex justify-content-center">
    <button pButton label="Chặn" (click)="deleteAll()" icon="pi pi-lock"
      class="p-button-outlined p-button-danger"></button>
  </div>
</p-dialog>
<p-dialog [dismissableMask]="true" [(visible)]="isPayment" [modal]="true" [draggable]="false" [resizable]="false"
  [showHeader]="false" [style]="{'width': '40vw'}">
  <div class="payment">
    <div class="col-12">
      <h1>Cộng tài khoản</h1>
      <label for="" class="header-title">Khách hàng: </label><span>{{customerName}}</span>
    </div>
    <div class="col-12">
      <div class="secondary-form-control">
        <label for="">TK chính</label>
        <p-inputNumber inputId="integeronly" [(ngModel)]="paymentRequest.amountWallet" [maxlength]="20" mode="currency"
          currency="VND" locale="vi-VN"></p-inputNumber>
      </div>
    </div>
    <div class="col-12">
      <div class="secondary-form-control">
        <label for="">TK Khuyến mãi</label>
        <p-inputNumber inputId="integeronly" [(ngModel)]="paymentRequest.amountWalletPromotional" mode="currency"
          currency="VND" locale="vi-VN" [maxlength]="20"></p-inputNumber>
      </div>
    </div>
    <div class="col-12">
      <div class="flex justify-content-between">
        <label class="header-title">Điểm thưởng</label>
        <span class="p-text-warning">{{paymentRequest.amountWallet / 1000 | number: '1.0-1'}}(điểm)</span>
      </div>
      <div class="flex justify-content-end mt-2">
        <button pButton label="Huỷ" class="p-button-sm p-button-secondary mr-2" (click)="isPayment = false"></button>
        <button pButton (click)="confirmRequest()" label="Nạp tiền" class="p-button-sm p-button-primary"></button>
      </div>
    </div>
  </div>
</p-dialog>