<div class="container">
  <div class="grid p-3 border-line">
    <div class="field col-12 md:col-5">
      <div class="title">
        <label>Tên khách hàng</label>
      </div>
      <input type="text" pInputText>
    </div>
    <div class="field col-12 md:col-5">
      <div class="title">
        <label>Số điện thoại</label>
      </div>
      <p-inputNumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false"></p-inputNumber>
    </div>
    <div class="col-12 md:col-2">
      <button pButton label="Tìm kiếm" icon="pi pi-search"></button>
    </div>
  </div>
  <div class="grid p-3">
    <div class="col-12 md:col-10">
      <div class="title-content">
        <label>DANH SÁCH KHÁCH HÀNG </label>
        <span>(3103 bài đăng)</span>
      </div>
    </div>
  </div>
  <div class="p-3">
    <div class="mr-2">
      <button pButton label="Xóa"
              icon="pi pi-trash" class="p-button-outlined p-button-danger"></button>
    </div>
  </div>
  <div class="p-3">
    <p-table [value]="dataCustomers" [(selection)]="dataSelection"
             dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th>
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <!--          <th>STT</th>-->
          <th>Khách hàng</th>
          <th>Địa chỉ</th>
          <th>Công ty</th>
          <th>Số điện thoại</th>
          <th>MGTB</th>
          <th>Số dư TK chính</th>
          <th>Số dư TK KM</th>
          <th>Điểm thưởng</th>
          <th class="text-center">Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>
            <p-tableCheckbox [value]="item"></p-tableCheckbox>
          </td>
          <!--          <td>{{i + 1}}</td>-->
          <td>{{item.customer?.customerName }}</td>
          <td>{{item.customer?.address }}</td>
          <td>{{item.customer?.company }}</td>
          <td>{{item.customer?.phone }}</td>
          <td>{{item.customer?.insurance }}</td>
          <td>{{item.wallet?.amount }}</td>
          <td>{{item.walletPromotional?.amount }}</td>
          <td>{{ item.customer.rewardPoints }}</td>
          <td>
            <button pButton icon="pi pi-bars" pTooltip="Xem số dư" (click)="viewBalance(item)"
                    class="p-button-sm p-button-warning p-button-outlined mr-2"></button>
            <button pButton icon="pi pi-trash" pTooltip="Xóa" (click)="delete(item.customer.id)"
                    class="p-button-sm p-button-danger p-button-outlined mr-2"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
