<div class="max-w-[1600px] mx-auto flex">
<div class="w-1/4 pl-[50px] hidden sm:block">
<div class="w-full"> 
    <p-button icon="pi pi-plus"  label="Thêm mới"></p-button>
    <div>
    <h3>Về chúng tôi</h3>
    <span>Giới thiệu</span>
    </div>
    
    <div>
    <h3>Chi phí đăng tin</h3>
     <span>Chi phí đăng tin</span>
     <span>Các gói hiện tại</span>
     <span>Chương trình khuyến mãi</span>
    </div>
    
    <div>
     <h3>Quy chế hoạt động</h3>
     <span>Quy định đăng tin</span>
     <span>Chính sách bảo mật</span>
     <span>Điều khoản sử dụng</span>
     <span>Điều khoản sử dụng</span>
    </div>
</div>
</div>
</div>
