<div class="container">
  <div class="header">
    <div class="grid">
      <div class="col-10 flex justify-content-center align-items-center">
      
        <h2 style="font-weight: 500; font-family: Roboto;margin-top: 50px; line-height: 28.13px; font-size: 24px;">{{result?.title}}</h2>
      </div>
     
        <p-button style=" margin-top: 14px;" label="Chỉnh sửa" [routerLink]="'/real-estate-term/regulationUpdate'"
          [queryParams]="{id:getId()}"></p-button>
      
    </div>
  </div>
  <quill-view [content]="result?.description" format="html"></quill-view>

</div>