<div class="container">
  <div class="grid align-items-center justify-content-between p-3">
    <div class="">
      <h2 style=" color: #30A0E0">Chi tiết {{'typePost.' + isBuy | translate  }}</h2>
    </div>
  </div>
  <div class="grid">
    <div class="col-12 md:col-2">
      <div class="primary-form-control">
        <label>Loại tin</label>
        <input type="text" pInputText>
      </div>
    </div>
    <div class="col-12 md:col-2">
      <div class="primary-form-control">
        <label>Ngày đăng</label>
        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
      </div>
    </div>
    <div class="col-12 md:col-2">
      <div class="primary-form-control">
        <label>Ngày hết hạn</label>
        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar>
      </div>
    </div>
    <div class="col-12 md:col-2">
      <div class="primary-form-control">
        <label>Loại bài</label>
        <input type="text" pInputText>

      </div>
    </div>
    <div class="col-12 md:col-2">
      <div class="primary-form-control">
        <label>Người đăng</label>
        <input type="text" pInputText>

      </div>
    </div>
    <div class="col-12 md:col-2">
      <div class="warning-form-control">
        <label style="z-index: 2">Trạng thái</label>
        <p-dropdown></p-dropdown>
      </div>
    </div>
  </div>
  <div class="">
    <div class="col12 md:col-12">
      <div class="primary-form-control">
        <label for="">Lí do</label>
        <textarea pInputTextarea [autoResize]="true"></textarea>
      </div>
    </div>
    <div class="col12 md:col-12">
      <div class="primary-form-control">
        <label for="">Mô tả</label>
        <textarea pInputTextarea rows="5" [autoResize]="true"></textarea>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="primary-form-control">
      <label for="">Ảnh</label>
      <div class="grid justify-content-center p-3">
        <div class="grid justify-content-center align-items-center"
             *ngIf="isAtRightEdge()" (click)="previousPage()">
          <i class="pi pi-angle-left" style="font-size: 2rem; color: #30A0E0"></i>
        </div>
         <div class="p-3" *ngFor="let im of getItems()">
            <p-image [src]="im" alt="Image" [preview]="true" height="300" width="300"></p-image>
          </div>
        <div class="p-3"  *ngIf="isAtRightEdge()" (click)="file.click()">
          <div class="new-item-btn">
            <i class="pi pi-plus"></i>
            <input #file type="file" name="" id="" style="display: none" (change)="onFileChange($event)">
          </div>
        </div>
         <div class="grid justify-content-center align-items-center"
             *ngIf="isAtLeftEdge()" (click)="nextPage()">
          <i class="pi pi-angle-right" style="font-size: 2rem; color: #30A0E0"></i>
        </div>

      </div>
    </div>
  </div>
  <!--  <app-image-input-upload [maxFiles]="5"></app-image-input-upload>-->
  <div class="grid justify-content-center mt-2">
    <button pButton label="Hủy" class="p-button-secondary mr-2"></button>
    <button pButton label="Lưu thông tin" class="p-button-primary"></button>
  </div>
</div>
