<div class="container">
  <div class="grid align-items-center justify-content-between p-3">
    <div class="">
      <h2 style=" color: #30A0E0">Chỉnh sửa {{'typePost.' + isBuy | translate }}</h2>
    </div>
  </div>
  <div class="col-12 md:col-12">
    <div class="grid" [formGroup]="updateForm">
      <div class="col-12 md:col-6" *ngIf="!isBuy">
        <div class="secondary-form-control">
          <label>Loại bài</label>
          <div class="view-content">
            <span>{{'typeNews.' + detailData?.type | translate}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Ngày đăng</label>
          <div class="view-content">
            <span>{{detailData?.createdDate | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Ngày duyệt</label>
          <div class="view-content">
            <span>{{detailData?.order | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6" *ngIf="!isBuy">
        <div class="secondary-form-control">
          <label>Ngày hết hạn</label>
          <div class="view-content">
            <span>{{detailData?.dueDate | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Ngày sửa gần nhất</label>
          <div class="view-content">
            <span>{{detailData?.lastModifiedDate ? (detailData?.lastModifiedDate | date: 'dd/MM/yyyy') :
              'Giá trị chưa cập nhật'}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6" *ngIf="!isBuy">
        <div class="secondary-form-control">
          <label>Ngày bán</label>
          <div class="view-content">
            <span>{{detailData?.order | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6" *ngIf="isBuy">
        <div class="secondary-form-control">
          <label>Ngày mua</label>
          <div class="view-content">
            <span>{{detailData?.order | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Người đăng</label>
          <div class="view-content">
            <span>{{detailData?.fullName}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Trạng thái</label>
          <p-dropdown [options]="listStatus" formControlName="status" optionValue="code"></p-dropdown>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Quận/Huyện</label>
          <div class="view-content">
            <span>{{detailData?.ward}}</span>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="secondary-form-control">
          <label>Phường/Xã</label>
          <div class="view-content">
            <span>{{detailData?.region }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="" [formGroup]="updateForm">
  <div class="col-12 md:col-12">
    <div class="secondary-form-control">
      <label>Địa chỉ hiển thị trên tin đăng</label>
      <div class="view-content">
        <span>{{detailData?.address }}</span>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-12">
    <div class="primary-form-control">
      <label for="">Tiêu đề</label>
      <textarea pInputTextarea [autoResize]="true" formControlName="titile"></textarea>
    </div>
  </div>
  <div class="col-12 md:col-12">
    <div class="primary-form-control">
      <label for="">Mô tả</label>
      <textarea pInputTextarea rows="5" [autoResize]="true" formControlName="description"></textarea>
    </div>
  </div>
  <div class="col-12 md:col-12" *ngIf="!isBuy">
    <div class="secondary-form-control">
      <label>Diện tích</label>
      <p-inputNumber inputId="mile" suffix="m2" formControlName="area">
      </p-inputNumber>
    </div>
  </div>
  <div class="col-12 md:col-12">
    <div class="grid" [formGroup]="updateForm">
      <div class="col-12 md:col-8" *ngIf="!isBuy">
        <div class="secondary-form-control">
          <label>Mức giá</label>
          <p-inputNumber *ngIf="updateForm.value?.unit !==3; else accecpt" inputId="integeronly" [maxlength]="20"
            formControlName="price" mode="currency" currency="VND" locale="vi-VN"></p-inputNumber>
          <ng-template #accecpt>
            <p-inputNumber [disabled]="true"></p-inputNumber>
          </ng-template>
        </div>
        <span *ngIf="!isBuy">Giá
          <b *ngIf="updateForm.value?.unit !==3; else accecpt">
            {{updateForm.value?.unit === 0 ? (updateForm.value?.price |vnCurrency) :
            (updateForm.value?.price | vnCurrency) + '/m2'}}

          </b>
          <ng-template #accecpt>

          </ng-template>
          ({{updateForm.value?.unit === 1 ? 'Tổng trị giá' : '' }}<b
            *ngIf="updateForm.value?.unit !==3; else accecpt1">~
            {{updateForm.value?.unit === 1 ? (updateForm.value?.price * updateForm.value?.area |vnCurrency) :
            convertUnit((updateForm.value?.price / (updateForm.value?.area || 1)))}}{{updateForm.value?.unit === 0 ?
            '/m2' : '' }} </b>)
          <ng-template #accecpt1>
            <span>Thỏa thuận</span>
          </ng-template>
        </span>

      </div>
      <div class="col-12 md:col-8" *ngIf="isBuy">
        <div class="secondary-form-control">
          <label>Tài chính dự kiến</label>
          <p-inputNumber inputId="integeronly" [maxlength]="20" formControlName="price" mode="currency" currency="VND"
            locale="vi-VN" [disabled]="true"></p-inputNumber>
        </div>

      </div>
      <div class="col-12 md:col-4">
        <div class="secondary-form-control">
          <label>Đơn vị</label>
          <p-dropdown [options]="listUnit" optionValue="code" formControlName="unit"
            (onChange)="changeUnit($event)"></p-dropdown>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="col-12">
  <div class="primary-form-control">
    <label for="">Ảnh</label>
    <div class="grid p-4">
      <aw-image-upload [maxFiles]="6" [previewUrl]="detailData?.image" (changeFile)="getFile($event)"
        (clearFile)="clearFile($event)"></aw-image-upload>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="grid" [formGroup]="updateForm">
    <div class="col-12 md:col-6">
      <div class="secondary-form-control">
        <label>Tên liên hệ</label>
        <input type="text" pInputText formControlName="fullName">
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="secondary-form-control">
        <label>Số điện thoại</label>
        <p-inputNumber mode="decimal" inputId="withoutgrouping" [useGrouping]="false" formControlName="phoneNumber">
        </p-inputNumber>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="secondary-form-control">
        <label>Địa chỉ</label>
        <input type="text" pInputText formControlName="addressUser">
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="secondary-form-control">
        <label>Email</label>
        <input type="text" pInputText formControlName="email">
      </div>
    </div>
  </div>

</div>
<div class="grid justify-content-center mt-2">
  <button pButton label="Hủy" class="p-button-secondary mr-2" (click)="back()"></button>
  <button pButton label="Lưu thông tin" class="p-button-primary" (click)="confirmUpdate()"></button>
</div>