<div class="ui-g">
  <div style="display: flex; align-items: center"
       draggable="true" class="{{zoneFileClass}} ui-g-12">
    <div class="p-text-center">
      <!--        <a href="javascript:void('select file');" (click)="file.click()">-->
      <!--          <i class="pi pi-upload"></i> {{uploadTitle}}-->
      <!--        </a>-->
      <button pButton icon="pi pi-upload" label="{{uploadTitle}}" (click)="file.click()"></button>
      <input type="file" #file [accept]="fileExt" [multiple]="(maxFiles > 1)" (change)="onFileChange($event)"
             style="display:none"/>
    </div>
  </div>
  <div class="grid">
    <div class="image-preview" *ngFor="let p of previewUrl">
      <img alt="IMG" [src]="p">
      <div class="img-action">
        <button class="btn-action" (click)="clearImage(p)">
          <i class="pi pi-times"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="ui-g-12" *ngIf="errors.length > 0">
    <ul class="p-pl-1 p-my-1" style="list-style: none">
      <li class="p-invalid" *ngFor="let err of errors">{{err}}</li>
    </ul>
  </div>
</div>
