/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
  font-family: var(--font-family);
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

.danger-form-control {
  border: 1px solid #FFC872;
  position: relative;
  border-radius: 6px;
  margin-top: 2em;

  label {
    position: absolute;
    top: -15px;
    left: 15px;
    background: #FFFFFF;
  }

  input {
    border: none;
    width: 100%;
  }
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    width: 33.333333333333%;

    label {
      font-weight: 500;
    }
  }

  input {
    width: 66.6666666667%
  }
}

.title-content {
  label {
    //font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 23px;
    color: #006BBB;
  }

  span {
    //font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #505050;

  }
}

.checked-field {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  min-width: 100px;
  width: auto;
  //padding: 0 10% 0 10%;
  border-radius: 5px;

  p-checkbox {
    margin-right: 10px;
    margin-left: 10px;
  }

  label {
    font-weight: 500;
    margin-right: 10px;
  }
}

.border-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.active {
  color: #FFB43F;
  font-weight: 500;
}

.inactive {
  color: #30A0E0;
  font-weight: 500;

}
