/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
  font-family: var(--font-family);
}

html, body {
  height: 100%;
}

.danger-form-control {
  border: 1px solid #FFC872;
  position: relative;
  border-radius: 6px;
  margin-top: 2em;

  label {
    position: absolute;
    top: -15px;
    left: 15px;
    background: #FFFFFF;
  }

  input {
    border: none;
    width: 100%;
  }
}
