/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
  font-family: var(--font-family);
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

.danger-form-control {
  border: 1px solid #FFC872;
  position: relative;
  border-radius: 6px;
  margin-top: 2em;

  label {
    position: absolute;
    top: -15px;
    left: 15px;
    background: #FFFFFF;
    font-weight: 700;
  }

  input {
    border: none;
    width: 100%;
  }
}

.primary-form-control {
  border: 1px solid #006BBB;
  position: relative;
  border-radius: 6px;
  margin-top: 2em;

  label {
    position: absolute;
    top: -15px;
    left: 15px;
    background: #FFFFFF;
    font-weight: 700;
    z-index: 5;
  }

  p-dropdown {
    width: 100%;

    .p-dropdown {
      width: 100%;
    }
  }

  input, textarea {
    border: none;
    width: 100%;
  }
}

.secondary-form-control {
  border: 1px solid #D8D8D8;
  position: relative;
  border-radius: 6px;
  margin-top: 2em;

  label {
    position: absolute;
    top: -15px;
    left: 15px;
    background: #FFFFFF;
    font-weight: 700;
  }

  input, textarea {
    border: none;
    width: 100%;
  }

  p-dropdown {
    width: 100%;

    .p-dropdown {
      width: 100%;
    }
  }

  .view-content {
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 10%;
  }
}

.warning-form-control {
  border: 1px solid #FFC872;
  position: relative;
  border-radius: 6px;
  margin-top: 2em;

  label {
    position: absolute;
    top: -15px;
    left: 15px;
    background: #FFFFFF;
    font-weight: 700;
  }

  input, textarea {
    border: none;
    width: 100%;
  }

  p-dropdown {
    width: 100%;

    .p-dropdown {
      width: 100%;
    }
  }

  .view-content {
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 10%;
  }
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    width: 33.333333333333%;

    label {
      font-weight: 500;
    }
  }

  input {
    width: 66.6666666667%
  }

  p-inputNumber, .p-inputnumber, p-dropdown, .p-dropdown, p-calendar, .p-calendar {
    width: 100%;
  }
}

.title-content {
  label {
    //font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 23px;
    color: #006BBB;
  }

  span {
    //font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #505050;

  }
}

.checked-field {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #F59E0B;
  min-width: 100px;
  width: auto;
  //padding: 0 10% 0 10%;
  border-radius: 5px;

  p-checkbox {
    margin-right: 10px;
    margin-left: 10px;
    color: #F59E0B;
  }

  label {
    font-weight: 500;
    margin-right: 10px;
    color: #F59E0B;
  }
}

.border-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.new-status-1 {
  color: #FFB43F;
  font-weight: 500;
}

.new-status-2 {
  color: #30A0E0;
  font-weight: 500;
}

.new-status-3 {
  color: #EF4444;
  font-weight: 500;
}

.new-status-4 {
  color: #48b41d;
  font-weight: 500;
}

.new-status-5 {
  color: #495257;
  font-weight: 500;
}

.p-text-danger {
  color: #EF4444;
}

.p-text-primary {
  color: #3B82F6;
}

.p-text-warning {
  color: #F59E0B;
}

.p-tabview .p-tabview-nav {
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-width: 0 0 2px 0;
}

.p-tabview .p-tabview-nav li {
  margin-right: 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
  border: solid #dee2e6;
  border-width: 0 0 2px 0;
  border-color: transparent transparent #dee2e6 transparent;
  background: #ffffff;
  color: #6c757d;
  padding: 1.25rem;
  font-weight: 700;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  transition: box-shadow 0.2s;
  margin: 0 0 -2px 0;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.2rem #BFDBFE;
}

.p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
  background: #ffffff;
  border-color: #adb5bd;
  color: #6c757d;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: #30A0E0 !important;
  border-color: #ffffff !important;
  color: #ffffff !important;
  border-radius: 30px 0 30px 0px;

}

.p-tabview .p-tabview-left-icon {
  margin-right: 0.5rem;
}

.p-tabview .p-tabview-right-icon {
  margin-left: 0.5rem;
}

.p-tabview .p-tabview-close {
  margin-left: 0.5rem;
}

.p-tabview .p-tabview-nav-btn.p-link {
  background: #ffffff;
  color: #3B82F6;
  width: 3rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0;
}

.p-tabview .p-tabview-nav-btn.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: inset 0 0 0 0.2rem #BFDBFE;
}

.p-tabview .p-tabview-panels {
  background: #ffffff;
  padding: 1.25rem;
  border: 0 none;
  color: #495057;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.hyper-link {
  font-weight: 600;
  color: #3B82F6;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}
