<div class="feature-container">
  <div class="" *ngIf="isShowNavigation"
       [ngClass]="navigationClass">
    <div class="flex justify-content-center">
      <div class="">
        <h1>YOUR LOGO</h1>
      </div>
      <div class="close-toggle" (click)="showNavigationToggle()" *ngIf="isMobile() && isShowNavigation">
        <i class="pi pi-chevron-left"></i>
      </div>
    </div>
    <div class="col p-0 ml-5" *ngFor="let f of featureList">
      <div class="flex justify-content-center h-3rem align-items-center items" (click)="routerLink(f)"
           [class.router-selected]="f.isSelected">
        <div class="col-2">
          <i [class]="f.icon"></i>
        </div>
        <div class="col-6">
          <label for=""> {{f.label}}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-content">
    <div class="feature-content-header">
      <div class="list-toggle" (click)="showNavigationToggle()">
        <i class="pi pi-list"></i>
      </div>
      <div class="info-toggle">
        <p-splitButton
          styleClass="p-button-outlined"
          label="{{infoUser?.firstName}}" icon="pi pi-user" (onClick)="save()" [model]="items"></p-splitButton>
      </div>
    </div>
    <div class="feature-content-body p-2">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
