<div class="feature-container">
  <div class="" *ngIf="isShowNavigation" [ngClass]="navigationClass"
    style="width: max-content; max-width: 25%; min-width: 200px;">
    <div class="flex justify-content-center">
      <div class="pt-4">
        <img src="./assets/resouces/LOGO TRẮNG.png" style="width: 180px;">
      </div>
      <div class="close-toggle" (click)="showNavigationToggle()" *ngIf="isMobile() && isShowNavigation">
        <i class="pi pi-chevron-left"></i>
      </div>
    </div>
    <!-- <div class="flex flex-col w-full relative">
      <div class="absolute w-full ml-[30px]" id="menuidnow" [style.--menuidnowheight]="menuidnowheight+'px'"
        [style.--menutoheight]="menutoheight+'px'" [style.--menutotop]="menutoY+'px'"
        [style.--lastheight]="lastheight+'px'" [style.--lasttop]="lastY+'px'" [style.--menuidnowtop]="positionY+'px'">
        <div class="absolute w-[20px] h-[20px] top-[-20px] bg-white right-[30px]">
          <div class="w-[40px] h-[40px] absolute rounded-full top-[-20px] left-[-20px] bg-[#0071AF]">
          </div>
        </div>
        <div class="absolute w-[20px] h-[20px] bottom-[-20px] bg-white right-[30px]">
          <div class="w-[40px] h-[40px] absolute rounded-full bottom-[-20px] left-[-20px] bg-[#0071AF]">
          </div>
        </div>
      </div>
      <div *ngFor="let menu of featureList" class="pl-[45px] z-50 cursor-pointer"
        [id]="routenow.includes(menu.routerLink)?'menunow':''">
        <div class="flex flex-row items-center py-[13px] pl-[10px] h-max min-h-[45px]"
          [routerLink]="menu.routerLink" (click)="load(menu.routerLink);"
          [ngClass]="{'text-[#0071AF]':routenow.includes(menu.routerLink)}">
          <i [ngClass]="{'text-[#0071AF]':routenow.includes(menu.routerLink)}" [class]="menu.icon"></i>
          <span class="menu_label w-full">{{menu.label}}</span>
        </div>
      </div>
    </div> -->
    <div class="flex flex-column w-full h-full relative overflow-x-hidden pt-3">
      <div class="p-0 py-2 pl-5 h-max z-2" *ngFor="let f of featureList" (click)="load(f.routerLink[0])"
        [id]="routenow.includes(f.routerLink[0])?'menunow':''" [routerLink]="f.routerLink[0]"
        [ngClass]="routenow.includes(f.routerLink[0])?'router-selected':''">
        <div class="flex justify-content-start h-max align-items-center items pl-3">
          <!-- <div class="flex justify-content-start h-3rem align-items-center items pl-3" (click)="routerLink(f)"
                [class.router-selected]="f.isSelected"> -->
          <div class="col-2">
            <i [class]="f.icon"></i>
          </div>
          <div class="min-w-max">
            <label for="" class="min-w-max"> {{f.label}}</label>
          </div>
        </div>
      </div>
      <div class="absolute w-full ml-4 z-0" id="menuidnow" [style.--menuidnowheight]="menuidnowheight+'px'"
        [style.--menutoheight]="menutoheight+'px'" [style.--menutotop]="menutoY+'px'"
        [style.--lastheight]="lastheight+'px'" [style.--lasttop]="lastY+'px'" [style.--menuidnowtop]="positionY+'px'">
        <div class="absolute" style="background-color: white;
        width: 20px;
        height:20px;
        top: -20px;
        right: 20px;">
          <div class="absolute" style="background-color: #30A0E0;
          width: 40px;
          height:40px;
          border-radius: 50%;
          top: -20px;
          right: 0px">
          </div>
        </div>
        <div class="absolute" style="background-color: white;
        width: 20px;
        height:20px;
        bottom: -20px;
        right: 20px;">
          <div class="absolute" style="background-color: #30A0E0;
          width: 40px;
          height:40px;
          border-radius: 50%;
          bottom: -20px;
          right: 0px">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-content">
    <div class="feature-content-header">
      <div class="list-toggle" (click)="showNavigationToggle()">
        <i class="pi pi-list"></i>
      </div>
      <div class="info-toggle">
        <p-splitButton styleClass="p-button-outlined" label="{{infoUser?.firstName}}" icon="pi pi-user"
          [model]="items"></p-splitButton>
      </div>
    </div>
    <div class="feature-content-body p-2">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
