<div class="container">
  <div class="grid p-3">
    <div class="col-12 md:col-10">
      <div class="grid align-items-end">
        <h2>Danh sách khu đất</h2>
        <span>(666 khu đất)</span>
      </div>
    </div>
    <div class="col-12 md:col-2">
      <button pButton label="Thêm mới" icon="pi pi-plus"></button>
    </div>
  </div>
  <div class="grid p-3">
    <div class="col-12 md:col-4">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Khu vực</span>
        <input type="text" pInputText>
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">Tên khu đất</span>
        <input type="text" pInputText>
      </div>
    </div>
    <div class="col-12 md:col-2">
      <button pButton label="Tìm kiếm" icon="pi pi-search"></button>
    </div>
  </div>
</div>
