<div class="container">
  <div class="grid p-3">
    <div class="col-12 md:col-10">
      <div class="title-content">
        <label for="">DANH SÁCH BÀI ĐĂNG </label>
        <span>(3103 bài đăng)</span>
      </div>
    </div>
  </div>
  <div class="grid p-3 border-line">
    <div class="field col-12 md:col-4">
      <div class="title">
        <label for="">Trạng thái</label>
      </div>
      <input type="text" pInputText>
    </div>
    <div class="field col-12 md:col-6">
      <div class="title">
        <label for="">Tin tìm mua đất</label>
      </div>
      <input type="text" pInputText>
    </div>
    <div class="col-12 md:col-2">
      <button pButton label="Tìm kiếm" icon="pi pi-search"></button>
    </div>
  </div>
  <div class="grid p-3 mt-2">
    <div class="mr-2">
      <button pButton label="Duyệt" [disabled]="!(dataSelection.length > 1)"
              icon="pi pi-check" class="p-button-outlined" (click)="approveAll()"></button>
    </div>
    <div class="mr-2">
      <button pButton label="Từ chối" [disabled]="!(dataSelection.length > 1)"
              icon="pi pi-trash" class="p-button-outlined p-button-danger"
              (click)="rejectAll()"></button>
    </div>
    <div class="">
      <div class="checked-field">
        <p-checkbox [(ngModel)]="isCheckAll" id="check-all" (onChange)="onCheckAllChange($event)"
                    [binary]="true"></p-checkbox>
        <label for="check-all">Chọn tất cả </label>
      </div>
    </div>
  </div>
  <div class="p-3" style="overflow: auto">
    <p-table [value]="data" [(selection)]="dataSelection"
             dataKey="code" (selectionChange)="cboChange($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <!--            <p-tableHeaderCheckbox #checkAll></p-tableHeaderCheckbox>-->
          </th>
          <th>Mã tin</th>
          <th>Loại bài</th>
          <th class="text-center">Tiêu đề</th>
          <th>Người đăng</th>
          <th>Trạng thái</th>
          <th>Created Date</th>
          <th>Last Updated</th>
          <th class="text-center">Thao tác</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>
            <p-tableCheckbox [value]="product" (onChange)="onCheckAllChange($event)"></p-tableCheckbox>
          </td>
          <td>{{ product.id }}</td>
          <td>{{ product.code }}</td>
          <td>{{ product.title }}</td>
          <td>{{ product.author }}</td>
          <td>
            <span
              [ngClass]="'new-status-' + product.status">{{ 'status.' + product.status | translate}}</span>
          </td>
          <td>{{ product.createDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ product.lastUpdate | date: 'dd/MM/yyyy' }}</td>
          <td>
            <div class="" style="width: 20rem">

              <button pButton (click)="approve()" icon="pi pi-times" label="Xóa" disabled
                      class="p-button-sm p-button-danger p-button-outlined mr-2"></button>
              <button pButton (click)="approve()" icon="pi pi-times" label="Duyệt"
                      class="p-button-sm p-button-primary p-button-outlined mr-2"></button>
              <button pButton (click)="approve()" icon="pi pi-times" label="Hạ Bài"
                      class="p-button-sm p-button-warning p-button-outlined"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog [(visible)]="isShowModalApprove" header="Duyệt nhiều">
  <div class="">
    <p-table [value]="dataSelection"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Mã tin</th>
          <th>Loại bài</th>
          <th>Tiêu đề</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.code }}</td>
          <td>{{ product.title }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="flex mt-2 justify-content-center">
    <button pButton label="Duyệt"></button>
  </div>
</p-dialog>
<p-dialog [(visible)]="isShowModalReject" header="Xóa nhiều">
  <div class="">
    <p-table [value]="dataSelection"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Mã tin</th>
          <th>Loại bài</th>
          <th>Tiêu đề</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.id }}</td>
          <td>{{ product.code }}</td>
          <td>{{ product.title }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="flex mt-2 justify-content-center">
    <button pButton label="Xoá" class="p-button-danger"></button>
  </div>
</p-dialog>
