.box-wrap {
  border: 1px solid #ccc;
  padding: 30px;
  border-radius: 8px;
}

.button-wrap {
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.text-ct1 {
  color: #006bbb;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.img-wrap {
  position: relative;
}

.img-ct {
  width: 165px;
  height: 165px;
  object-fit: cover;
  border-radius: 50%;
}

.custom-upload input[type="file"] {
  display: none;
}

.upload-bottom {
  position: absolute;
  bottom: 0;
  width: 165px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.20);
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  border-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.text-absolute {
  position: absolute;
  top: -12px;
  background-color: #fff;
  padding: 0 10px;
}

.text-absolute2 {
  position: absolute;
  top: -25px;
  background-color: #fff;
  padding: 0 6px;
  left: 10px;
}
