<div class="login-bg">
  <div class="grid fluid justify-content-between pl-5 pr-5 align-items-center login-header">
    <div class="logo">
      <h3><span class="left-color">YOUR</span><span class="right-color">LOGO</span></h3>
    </div>
    <div class="option">
      <i class="pi pi-cog mr-2" style="font-size: 1rem"></i>
      <label for="">Hỗ trợ</label>
    </div>
  </div>

  <div class="grid fluid justify-content-center align-items-center">
    <div class="login-body">
      <div class="text-center">
        <h1><span class="left-color mr-2">Welcome to</span> <span class="right-color">join us!</span></h1>
      </div>
      <div class="text-center">
        <label for="">Đây là slogan của công ty bạn!</label>
      </div>
      <div class="text-center">
        <i class="pi pi-cog m-5" style="font-size: 1rem"></i>
      </div>
      <div class="text-center">
        <label for="" CLASS="left-color"> ĐĂNG NHẬP TÀI KHOẢN</label>
      </div>
      <p-messages [value]="msgInvalid" [closable]="false"></p-messages>
      <div class="mt-5 grid justify-content-center" [formGroup]="loginForm">
        <div class="col-12">
          <div class="danger-form-control">
            <label>Tên Đăng nhập</label>
            <input type="text" pInputText formControlName="userName"/>
          </div>
        </div>
        <div class="col-12">
          <div class="danger-form-control">
            <label>Mật khẩu</label>
            <input [type]="passwordType" pInputText formControlName="password"/>
            <i class="pi pi-eye" style="position: absolute; top: 15px; right: 15px;" (click)="changeTypePass()"></i>
          </div>

        </div>
        <div class="col-12">
          <div class="grid justify-content-between mt-3 p-2">
            <div class="">
              <p-checkbox [binary]="true" formControlName="rememberMe"></p-checkbox>
              <label for="" class="mr-2">Ghi nhớ </label>
            </div>
            <div class="">
              <a href="">Quên mật khẩu</a>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="flex justify-content-center">
            <button pButton label="Đăng nhập" class="primary" (click)="doLogin()"></button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

