.login-header {
  background: #F5F5F5;

  .logo-name {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
  }

  .left-color {
    color: #006BBB;
  }

  .right-color {
    color: #FFC872;
  }
}

.full-height {
  height: 100%;
  background: yellow;
}


.login-body {
  margin-top: 3rem;
  h1 {
    font-family: UTM Libel KT, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 95px;
    /* identical to box height */
    letter-spacing: 0.03em;
  }


  .left-color {
    color: #006BBB;
  }

  .right-color {
    color: #FFC872;
  }

  label {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.login-bg {
  background-image: url("../../../assets/resouces/login-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
